@inherits LayoutComponentBase

<div class="page d-flex flex-column">
    <div class="container-fluid bg-purple">
        <TopNavBar/>
    </div>
    <div class ="container-fluid flex-grow-1">
        @Body
    </div>
    @* <footer class="fixed-bottom text-center d-flex align-items-center justify-content-center footer">
        <p class="mb-0 py-2">Blog App built using Blazor Server by <strong>Andjelija Mijajlovic</strong></p>
    </footer> *@
</div>

@* <div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div> *@
